<% @page_title = "Delete Subject" %> <!-- setting the variable == to the string subjects--> 
<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="subjects delete">
	<h2>Delete Subjects</h2>

	<%= form_for(:subject, :url => {:action => 'destroy', :id => @subject.id}) do |f| %>

	<p>Are you sure you wnat to permanetly delete this subject?</p>

	<p class="reference-name"><%= @subject.name %></p>

	<div class="form-buttons">
		<%= submit_tag("Delete Subject") %>
	</div>


<% end %> 



</div>

<!-- dont need to use form_for, can use form_tag {:action => 'destroy', ..etc })--> 