	<h1 class="welcome">Welcome!</h1>
	<div class="main-list">
		<ul>
			<li>In order to contribute to the blog, users must sign in at the admin area</li>
			<li>http://managemaster83c5.ninefold-apps.com/admin</li>
			<li>Only current admins can admit new users</li>
			<li>This blogging platform was built with Ruby on Rails</li>
		</ul>
	</div>

